<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981726084171-2qcj31dvvfoe8rlj2nbvh2sda0jm40lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981726084171-2qcj31dvvfoe8rlj2nbvh2sda0jm40lf</string>
	<key>API_KEY</key>
	<string>AIzaSyC68_zbSrnkz6FjpZT6pHaCEVHpNsEeS8s</string>
	<key>GCM_SENDER_ID</key>
	<string>981726084171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lebonmarche</string>
	<key>PROJECT_ID</key>
	<string>lebonmarche-36611</string>
	<key>STORAGE_BUCKET</key>
	<string>lebonmarche-36611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981726084171:ios:2a174fd546eab1dba7a1ce</string>
	<key>DATABASE_URL</key>
	<string>https://lebonmarche-36611.firebaseio.com</string>
</dict>
</plist>